<div *ngIf="table$ | async as table" class="table-container">
    {{setInitialValues(table)}}

    <mat-table [dataSource]="table" cdkDropList [cdkDropListData]="table"
        (cdkDropListDropped)="moveTableRows($event, table)">

        <ng-container matColumnDef="#">
            <mat-header-cell class="market-cap-rank" *matHeaderCellDef>#</mat-header-cell>
            <mat-cell class="market-cap-rank" *matCellDef="let coin"> {{coin.market_cap_rank}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let coin"> <app-coin-info-cell [coin]="coin"></app-coin-info-cell> </mat-cell>
        </ng-container>


        <ng-container matColumnDef="current_price">
            <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
            <mat-cell *matCellDef="let coin"> {{coin.current_price | currency :'USD':'symbol':'1.2-4'}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="circulating_supply">
            <mat-header-cell *matHeaderCellDef> Supply </mat-header-cell>
            <mat-cell *matCellDef="let coin"> {{coin.circulating_supply | number :'1.0-0'}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="market_cap">
            <mat-header-cell *matHeaderCellDef> Market Cap </mat-header-cell>
            <mat-cell *matCellDef="let coin"> {{coin.market_cap | currency :'USD'}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let rowData; let even = even; columns: displayedColumns;" cdkDrag [cdkDragData]="rowData"
            [ngClass]="{gray: even}" (cdkDragStarted)="onDragStart(rowData)"></mat-row>
    </mat-table>

</div>