

<table mat-table [dataSource]="coins$"  cdkDropList [cdkDropListData]="coins$ | async"
    (cdkDropListDropped)="moveTableRows($event)">


    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let coin"> {{coin.id}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="current_price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let coin"> {{coin.current_price | currency :'USD'}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="circulating_supply">
        <mat-header-cell *matHeaderCellDef> Supply </mat-header-cell>
        <mat-cell *matCellDef="let coin"> {{coin.circulating_supply | number :'1.0-0'}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="market_cap">
        <mat-header-cell *matHeaderCellDef> Market Cap </mat-header-cell>
        <mat-cell *matCellDef="let coin"> {{coin.market_cap | currency :'USD'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns$ | async"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns$ | async;" cdkDrag [cdkDragData]="row"></mat-row>
</table>

