:host {
    flex-grow: 1;
}

.coin-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    flex-grow: 1;

    .coin-image {
        max-width: 30px;
    }

    .coin-name {
        font-weight: 500;
    }

    .coin-symbol
    {
        font-weight: 500;
        opacity: 50%;
    }
}